{{define "title"}}Home{{end}}

{{define "main"}}

<div>
  <table>
    <thead>
      <th>Program name</th>
      <th>Duration</th>
    </thead>
    <tbody>
      {{range .ProgramStats}}
      <tr>
        <td>{{.ProgramName}}</td>
        <td>{{formatSecs .DurationSecs}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
