{{define "activity-table"}}
<table>
  <thead>
    <td>Start</td>
    <td>Window Class</td>
    <td>Window Name</td>
    <td>Duration</td>
  </thead>
  <tbody>
  {{range .WindowChangeEvents}}
  <tr>
      <td>
        {{.StartTime}}
      </td>
      <td>
        {{.WindowClass}}
      </td>
      <td>
        {{.WindowTitle}}
      </td>
      <td>
        {{formatSecs .Duration}}
      </td>
    </tr>
  {{end}}
  </tbody>
</table>
{{end}}
