{{define "header"}}
<div class="flex justify-between items-center space-between mx-auto mb-2 pb-1 w-[min(100%,100ch)] border-b">
  <h1 class="h1">telltime</h1>

  <ul class="flex justify-center gap-2">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/activity">Activity</a>
    </li>
  </ul>
</div>
{{end}}
