{{define "program-stats"}}
<div
  hx-get="program-stats"
  hx-trigger="date-selected from:body"
  hx-include="selected-date"
  hx-vals="js:{date: event.detail.date}"
  hx-swap="outerHTML"
>
</div>
{{end}}
